*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white !important;
    background-color: black !important;
    /* border: 1px solid red; */
}
body{
    color: white;
    font-size: 16px;
    background-color: #000000;
}
/* nav */
.navbar{
    /* background-color: #000000; */
    display: flex;
    /* color: white; */
}
.navbar a{
    margin-left: 10px;
}
.menu, .menu ul{ 
    width: 60%;
    font-size: 20PX;
    display: flex;
    float: inline-end;
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-decoration:none
   }
.menu ul{
    display: flex;
    justify-content: center;
    width: 100%;
}
.menu ul li a{
    color: white;
    margin-left: 10px;
    font-size: 30px;

}
.res_menu{
    display: none;
}
.social-header{
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 3px;
    list-style: none;

} 
.social-header ul{ 
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
/* END nav */

/* Start Footer */
footer{
    padding: 10px;
    background-color: black;
    color: white;
}
.row-footer{
    display: flex;
    justify-content: space-evenly;
    } 
.social-footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    margin-bottom: 10px;
}
.social-footer ul{
    padding: 13px;
    margin: 0px;
    display: flex;
    width: 15%;
    justify-content: space-between;
    list-style: none;
   
}
.list-unstyled,.list-unstyled a{
    font-size: large;
    line-height: normal;
    letter-spacing: -0.7px;
    color: white !important;
    cursor: pointer;
    display: grid;
    text-decoration:none
    
}


/* End Footer */


/* media  */
@media screen and (max-width: 786px) {
.row-features, .container-fluid, .row-footer{
    flex-direction: column;
}
.menu, .social-header{
    display: none;
}
.res_menu{
    display: block;
}

.social-footer ul{
    width: 50%;
}
}

